[submodule "args"]
	path = args
	url = https://github.com/dmulholl/args
[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash
[submodule "Musashi"]
	path = Musashi
	url = https://github.com/xXorAa/Musashi
[submodule "libayemu"]
	path = libayemu
	url = https://github.com/asashnov/libayemu
[submodule "fatfs"]
	path = fatfs
	url = https://github.com/abbrev/fatfs
