[submodule "args"]
	path = args
	url = https://github.com/dmulholl/args
[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash
[submodule "log.c"]
	path = log.c
	url = https://github.com/rxi/log.c
